@font-face {
  font-family: "KoPubWorld";
  font-weight: normal;
  src: url("./font/KoPubWorld\ Dotum\ Medium.ttf") format("truetype");
}
body {
  margin: 0;
  font-family: "KoPubWorld";
}

code {
  font-family: "KoPubWorld";
}
